

.login #header {
    height: auto;
    padding: 5px 16px;
    background: #E48B50;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #FFFFFF;
}


.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #E48B50;
 }


.button:active, input[type=submit]:active, input[type=button]:active,
.button:focus, input[type=submit]:focus, input[type=button]:focus,
.button:hover, input[type=submit]:hover, input[type=button]:hover {
    background: #CE580B;
}

.button[disabled], input[type=submit][disabled], input[type=button][disabled] {
    opacity: 0.4;
}

.button.default, input[type=submit].default, .submit-row input.default {
    float: right;
    border: none;
    font-weight: 400;
    background: #CE580B;
}

.button.default:active, input[type=submit].default:active,
.button.default:focus, input[type=submit].default:focus,
.button.default:hover, input[type=submit].default:hover {
    background: #CE580B;
}

.button[disabled].default,
input[type=submit][disabled].default,
input[type=button][disabled].default {
    opacity: 0.4;
}

/* #E48B50  */